/* PerkSlot.css */

/* ========== Container ========== */
.perk-slot-container {
  margin-top: 0px;
  width: 100%;
}

.perk-slot-active {
  background: var(--color-item-selected) !important;
  color: #1f2937 !important;
  font-weight: bold;
}
/* ========== Perk main slot ========== */
.perk-main-slot {
  background: var(--color-primary-default);
  border: 2px solid var(--color-border-default);
  /* border: 1px solid #3c3c3c; */
  border-radius: 0.4rem;
  width: 100%;
  height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perk-main-slot.empty:hover {
  background: var(--color-primary-accent);
}

.perk-main-slot.perk-slot-active {
  background: var(--color-item-selected) !important;
  color: #1f2937 !important;
  font-weight: bold;
}

/* ========== Perk slot text ========== */
.perk-slot-text {
  font-size: 0.75rem;
}

.perk-slot-text.active {
  color: #1f2937;
  font-weight: bold;
}

.perk-slot-text.inactive {
  color: #9ca3af;
}
