/* PerkPreview.css */

/* ========== Container ========== */
.perk-preview {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 0px;
  max-width: 250px;
  min-height: 18px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color 0.15s;
}

.perk-preview:hover {
  border-color: var(--color-border-default);
}

.perk-preview.perk-preview-active {
  border-color: var(--color-primary-accent);
  /* box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.25); */
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
}

/* ========== Perk row ========== */
.perk-preview-row {
  display: flex;
  gap: 2px;
  justify-content: flex-start;
}

/* ========== Perk preview option ========== */
.perk-preview-option {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: var(--color-primary-default);
  border: 1px solid var(--color-border-default);
  opacity: 0.7;
  filter: grayscale(0.7);
  position: relative;
  overflow: hidden;
}

.perk-preview-option.selected {
  /* background: var(--color-item-selected); */
  /* border-color: var(--color-item-selected); */
  opacity: 1;
  filter: none;
}

/* ========== Perk img ========== */
.perk-preview-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

/* Unselected perk are greyed out */
.perk-preview-option:not(.selected) .perk-preview-image {
  opacity: 0.7;
  filter: grayscale(0.7);
}

/* Selected perk are untouched */
.perk-preview-option.selected .perk-preview-image {
  opacity: 1;
  filter: none;
}

/* ========== Fallback text ========== */
.perk-preview-fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: bold;
  color: #1f2937;
  display: none; /* Hidden by default */
}

/* ========== Size variant ========== */
.perk-preview.small .perk-preview-option {
  width: 14px;
  height: 14px;
}

.perk-preview.small .perk-preview-fallback {
  font-size: 6px;
}

.perk-preview.large .perk-preview-option {
  width: 22px;
  height: 22px;
}

.perk-preview.large .perk-preview-fallback {
  font-size: 9px;
}

/* ========== Perk Overlay ========== */

.perk-title {
  color: var(--color-text-default);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.perk-description {
  color: var(--color-text-default);
  font-size: 12px;
  text-align: center;
  word-break: break-word;
  padding: 0 4px;
}
