/* TeamSlots.css */

/* ========== Container ========== */
.team-slots-container {
  margin-bottom: 2rem;
}

/* ========== Grid ========== */
.team-slots-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
    /* background-color: var(--color-primary-default); */
}

/* ========== Counter ========== */
.team-slots-counter {
  text-align: center;
  font-size: 0.875rem;
  color: var(--color-text-default);
  margin-top: 1rem;
}

.team-slots-counter span {
  color: var(--color-text-default);
  font-weight: 600;
}
